<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559781702081-0840bdnaia04sf1ft0bdirnns3vc7geb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559781702081-0840bdnaia04sf1ft0bdirnns3vc7geb</string>
	<key>API_KEY</key>
	<string>AIzaSyAOjisPXrmW41mD0xhTvgKrP2GfhF7gvCg</string>
	<key>GCM_SENDER_ID</key>
	<string>559781702081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uni-gate</string>
	<key>PROJECT_ID</key>
	<string>unigateflu</string>
	<key>STORAGE_BUCKET</key>
	<string>unigateflu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559781702081:ios:011e4a7db550af5fe6e740</string>
</dict>
</plist>